.footer {
	padding-bottom: 2.25rem;
	background-color: #fbfcfc;
}

.footer__wrapper {
	padding: clamp(2.25rem, 2.7273vw + 1.7045rem, 3.75rem) 0.9375rem 0rem
		0.9375rem;
	max-width: 57.5rem;
	margin: 0 auto;
	position: relative;
}

.footer__wrapper::before {
	content: '';
	width: 100%;
	height: 0.0625rem;
	background-color: #dedfe1;
	position: absolute;
	top: 0;
	left: 0;
}

.footer__wrapper > *:not(:last-child) {
	margin-bottom: clamp(2rem, 4.2045vw + 1.1591rem, 4.3125rem);
}

.footer__header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem 2rem;
}

.footer__copy {
	color: #31353b;
	font-family: 'DM Sans';
	font-size: 0.75rem;
	font-weight: 700;
	line-height: calc(16 / 12 * 100%);
	text-align: center;
}

@media (min-width: 38.75em) {
	.footer__logo {
		flex: 1 1 auto;
	}
}
