.header {
	padding: 0.9375rem 0rem;
	position: absolute;
	z-index: 50;
	width: 100%;
	top: 0;
	left: 0;
}

.header__container {
	min-height: 4.6875rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem 1rem;
}



@media (max-width: 47.9375em) {
	.header__container {
		min-height: 3rem;
	}
}


