@import url('fonts.css');

@import url('null.css');
@import url('common.css');

@import url('header.css');
@import url('footer.css');

body {
	color: #333;
	font-family: 'Manrope';
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

.page {
	flex: 1 1 auto;
}

[class*='__container'] {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0rem 1rem;
}

.main-screen {
	padding-top: 11.5rem;
	/* padding-bottom: clamp(2.5rem, 7.9545vw + 0.9091rem, 6.875rem); */
	padding-bottom: 2.5rem;
	position: relative;
}

.main-screen::before {
	content: '';
	background-color: #bdccff;
	width: calc(515 / 1440 * 100%);
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.body-main-screen {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	align-items: start;
	row-gap: 2rem;
}

.body-main-screen__content {
	padding-top: clamp(1.5rem, 1.8182vw + 1.1364rem, 2.5rem);
	position: relative;
	z-index: 5;
}

.body-main-screen__inner:not(:last-child) {
	margin-bottom: clamp(2rem, 1.8182vw + 1.6364rem, 3rem);
}

.body-main-screen__label {
	color: #f90;
	font-family: 'DM Sans';
	font-size: clamp(1.1rem, 0.5vw + 1rem, 1.375rem);
	font-weight: 700;
	line-height: calc(29 / 22 * 100%);
	text-transform: uppercase;
}

.body-main-screen__label:not(:last-child) {
	margin-bottom: clamp(0.6rem, 1.6364vw + 0.2727rem, 1.5rem);
}

.body-main-screen__title {
	color: #000;
	font-size: clamp(1.5rem, 3.4091vw + 0.8182rem, 3.375rem);
	font-weight: 800;
	line-height: calc(73 / 54 * 100%);
}

.body-main-screen__title:not(:last-child) {
	margin-bottom: clamp(1rem, 0.7955vw + 0.8409rem, 1.4375rem);
}

.body-main-screen__text > p {
	color: #31353b;
	font-size: clamp(1rem, 0.1136vw + 0.9773rem, 1.0625rem);
	line-height: calc(23 / 17 * 100%);
	letter-spacing: 0.0106rem;
}

.body-main-screen__form {
	display: flex;
	position: relative;
	z-index: 5;
}

.body-main-screen__input {
	width: 100%;
	min-height: 5.375rem;
	padding-left: 4.625rem;
	padding-right: 0.5rem;
	font-size: 1.25rem;
	line-height: calc(27 / 20 * 100%);
	letter-spacing: 0.0125rem;
	color: #333;
	border: 0.0625rem solid #dadada;
	background: #fff url('../icons/home.svg') 2.0625rem 45% no-repeat;
	box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03),
		0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
		0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.02),
		0px 20px 13px 0px rgba(0, 0, 0, 0.01),
		0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
		0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.01);
}

.body-main-screen__input::placeholder {
	color: #31353b;

	opacity: 0.3;
}

.body-main-screen__btn {
	min-height: 5.375rem;
	background-color: #f85a47;
	padding: 0rem 2.5625rem;
	color: #fff;
	font-size: 1.0625rem;
	font-weight: 700;
	line-height: calc(23 / 17 * 100%);
	letter-spacing: 0.0106rem;
	text-transform: capitalize;
	text-wrap: nowrap;
}

.body-main-screen__btn:active {
	background-color: #b9473a;
}

.body-main-screen__swiper {
	width: 100%;
	box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03),
		0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
		0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.02),
		0px 20px 13px 0px rgba(0, 0, 0, 0.01),
		0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
		0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.01);
}

.body-main-screen__swiper-slide {
	position: relative;
	aspect-ratio: 603 / 573;
}

.body-main-screen__swiper-slide img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.body-main-screen__arrows {
	position: absolute;
	bottom: -3.3125rem;
	right: 0;
	display: flex;
	align-items: center;
	column-gap: 2.5rem;
}

.body-main-screen__arrow.swiper-button-prev,
.body-main-screen__arrow.swiper-button-next {
	background: url('../icons/arrow.svg') 0 0 no-repeat;
	position: relative;
	width: 13px;
	height: 21px;
}

.body-main-screen__arrow.swiper-button-prev::after,
.body-main-screen__arrow.swiper-button-next::after {
	display: none;
}

.body-main-screen__arrow.swiper-button-prev {
	transform: rotate(180deg);
	left: 0;
}

.body-main-screen__arrow.swiper-button-next {
	right: 0;
}

.partners-main-screen {
	position: relative;
	z-index: 5;
}

.partners-main-screen__label {
	color: #31353b;
	font-size: 1.0625rem;
	line-height: calc(23 / 17 * 100%);
	letter-spacing: 0.0106rem;
}

.partners-main-screen__label:not(:last-child) {
	margin-bottom: 1.6875rem;
}

.partners-main-screen__items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.2rem 2rem;
}

@media (hover: hover) {
	.body-main-screen__btn {
		transition: background-color 0.3s ease 0s;
	}

	.body-main-screen__btn:hover {
		background-color: #b9473a;
	}
}

@media (min-width: 71.25em) {
	.body-main-screen__inner {
		padding-right: 3.75rem;
	}

	.body-main-screen__form {
		margin-right: -11.6875rem;
	}

	.partners-main-screen__items {
		max-width: calc(770 / 1200 * 100%);
		justify-content: space-between;
	}
}

@media (max-width: 71.25em) {
	.main-screen {
		padding-top: clamp(4rem, 5.8537vw + 2.8293rem, 7rem);
	}

	.body-main-screen {
		grid-template-columns: auto;
		margin-bottom: 1.5rem;
	}

	.body-main-screen__arrows {
		bottom: -3rem;
	}
}

@media (max-width: 41.25em) {
	.body-main-screen__input,
	.body-main-screen__btn {
		min-height: 4rem;
	}

	.body-main-screen__input {
		padding-left: 3rem;
		background: #fff url(../icons/home.svg) 1rem 45% no-repeat;
		font-size: 1rem;
	}
}

@media (max-width: 33.125rem) {
	.body-main-screen__form {
		flex-direction: column;
	}

	.body-main-screen__input {
		box-shadow: none;
	}
}

@media (max-width: 23.75rem) {
	.partners-main-screen__items {
		gap: 0.8rem 0.7rem;
	}
}

.how {
	padding-top: clamp(2.5rem, 15.9091vw + -0.6818rem, 11.25rem);
	padding-bottom: clamp(2.5rem, 7.9545vw + 0.9091rem, 6.875rem);
}

.how__title {
	text-align: center;
}

.how__title:not(:last-child) {
	margin-bottom: clamp(2rem, 4.3182vw + 1.1364rem, 4.375rem);
}

.how__body {
	display: grid;
	grid-template-columns: repeat(3, minmax(auto, 16.25rem));
	grid-auto-rows: auto;
	justify-content: space-between;
	/* gap: 2rem clamp(3rem, 31.1111vw + -13.3333rem, 10rem); */
	gap: 3rem 2rem;
	padding: 0rem 2.1875rem;
}

.item-how {
	text-align: center;
	min-height: 100%;
	position: relative;
}

.item-how__icon {
	width: 5.625rem;
	height: 5.625rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1.25rem;
}

.item-how__icon--violet {
	background-color: #9672ff;
	box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07),
		0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
		0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185),
		0px 20px 13px rgba(150, 114, 255, 0.035),
		0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815),
		0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.item-how__icon--blue {
	background-color: #4ddffd;
	box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07),
		0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
		0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185),
		0px 20px 13px rgba(77, 223, 253, 0.035),
		0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815),
		0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.item-how__icon--pink {
	background-color: #f2b8ec;
	box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07),
		0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
		0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185),
		0px 20px 13px rgba(242, 184, 236, 0.035),
		0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815),
		0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.item-how__icon:not(:last-child) {
	margin-bottom: 3.125rem;
}

.item-how__icon img {
	width: 1.5625rem;
}

.item-how__title {
	color: #000;
	font-size: 1.375rem;
	font-weight: 600;
	line-height: calc(30 / 22 * 100%);
	text-transform: capitalize;
}

.item-how__title:not(:last-child) {
	margin-bottom: 0.9375rem;
}

.item-how__text > p {
	line-height: calc(26 / 16 * 100%);
}

@media (min-width: 75rem) {
	.item-how:not(:last-child)::before {
		content: url('../icons/line-dashed.svg');
		position: absolute;
		top: 2.5625rem;
		right: 0;
		width: 13.125rem;
		height: 0.6875rem;
		transform: translateX(87%) rotate(0);
	}

	.item-how:nth-child(2)::before {
		transform: translateX(87%) rotate(180deg);
		top: 2.8625rem;
	}
}

/* @media (min-width: 57.5em) {
	.item-how__line {
		position: absolute;
		top: 2.5625rem;
		right: 0;
		max-width: clamp(9.125rem, 22.8571vw + -4.0179rem, 13.125rem);
		width: 100%;
		height: 0.1875rem;
		background: linear-gradient(
			90deg,
			rgba(150, 114, 255, 0.2) 5%,
			rgba(77, 223, 253, 0.2) 100%
		);
		transform: translateX(88%) rotate(0);
	}

	.item-how__line--rotate {
		transform: translateX(88%) rotate(180deg);
	}

	.item-how__line > span {
		width: 0.6875rem;
		height: 0.6875rem;
		position: absolute;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
	}

	.item-how__line > span:nth-child(1) {
		background-color: #9672ff;
		left: 0;
	}

	.item-how__line > span:nth-child(2) {
		background-color: #4ddffd;
		right: 0;
	}
} */

@media (max-width: 57.4em) {
	.how__body {
		grid-template-columns: repeat(2, 1fr);
		padding: 0;
	}
}

@media (max-width: 35.625em) {
	.how__body {
		grid-template-columns: auto;
		row-gap: 2rem;
	}

	.item-how__icon:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

.deals {
	padding-top: clamp(2.5rem, 7.9545vw + 0.9091rem, 6.875rem);
	padding-bottom: clamp(2.5rem, 7.9545vw + 0.9091rem, 6.875rem);
}

.header-deals {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.header-deals:not(:last-child) {
	margin-bottom: 3.125rem;
}

.header-deals__inner {
	flex: 1 1 auto;
}

.header-deals__title {
	text-transform: capitalize;
}

.header-deals__title:not(:last-child) {
	margin-bottom: 0.9375rem;
}

.header-deals__text {
	max-width: 29.375rem;
}

.header-deals__text > p {
	color: #000;
	line-height: calc(24 / 16 * 100%);
}

.header-deals__btn {
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 4.0625rem;
	padding: 0.3125rem 2.0625rem;
	background: #f85a47;
	box-shadow: 0px 100px 80px 0px rgba(248, 90, 71, 0.07),
		0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05),
		0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04),
		0px 20px 13px 0px rgba(248, 90, 71, 0.04),
		0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03),
		0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02);
	border-radius: 0.3125rem;
	text-transform: capitalize;
	color: #fff;
	font-size: 1.0625rem;
	font-weight: 500;
	line-height: calc(23 / 17 * 100%);
	text-wrap: nowrap;
}

.header-deals__btn:active {
	background-color: #b9473a;
}

.tabs-deals__navigation {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem 3.125rem;
}

.tabs-deals__navigation:not(:last-child) {
	margin-bottom: 3.5625rem;
}

.tabs-deals__title {
	color: #000;
	font-size: 1.1875rem;
	line-height: calc(26 / 19 * 100%);
}

.tabs-deals__title._tab-active {
	color: #f85a47;
	font-weight: 600;
	position: relative;
}

.tabs-deals__title._tab-active::before {
	content: '';
	width: 100%;
	height: 0.0625rem;
	background-color: #f85a47;
	position: absolute;
	left: 0;
	bottom: -0.1875rem;
}

.tabs-deals__body {
	display: none;
}

.tabs-deals__body.active {
	display: block;
}

.tabs-deals__items {
	display: grid;
	grid-template-columns: repeat(3, minmax(auto, 23.125rem));
	grid-auto-rows: auto;
	justify-content: space-between;
	gap: 1rem;
}

.tabs-deals__item {
	position: relative;
	border-radius: 0.3125rem;
	overflow: hidden;
}

.tabs-deals__options {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 5;
	top: 0.875rem;
	left: 0.875rem;
	gap: 0.375rem;
}

.tabs-deals__option {
	color: #fff;
	font-size: 0.75rem;
	line-height: calc(16 / 12 * 100%);
	border-radius: 0.3125rem;
	border: 0.0625rem solid#fff;
	background: rgba(0, 0, 0, 0.4);
}

.tabs-deals__option:nth-child(1) {
	padding: 0.375rem 0.75rem;
}

.tabs-deals__option:nth-child(2) {
	padding: 0.375rem 0.375rem;
}

.tabs-deals__pictures {
	/* max-width: 100%; */
	display: block;
	position: relative;
	aspect-ratio: 370 / 300;
}

.tabs-deals__img {
	/* width: 100%;
	height: auto;
	object-fit: cover; */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

@media (hover: hover) {
	.header-deals__btn {
		transition: background-color 0.3s ease 0s;
	}

	.header-deals__btn:hover {
		background-color: #b9473a;
	}

	.tabs-deals__title {
		transition: color 0.25s ease 0s;
		position: relative;
	}

	.tabs-deals__title::before {
		content: '';
		position: absolute;
		width: 0;
		height: 1px;
		background-color: #f85a47;
		bottom: -0.1875rem;
		left: 0;
		transition: width 0.3s ease 0s;
	}

	.tabs-deals__title:hover {
		color: #f85a47;
	}

	.tabs-deals__title:hover::before {
		width: 100%;
	}

	.tabs-deals__img {
		transform: scale(1);
		transition: transform 0.3s ease 0s;
	}

	.tabs-deals__item:hover .tabs-deals__img {
		transform: scale(1.1);
	}

	.tabs-deals__option {
		transition: background-color 0.3s ease 0s;
	}

	.tabs-deals__option:hover {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

@media (max-width: 57.5rem) {
	.tabs-deals__items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 44.75rem) {
	.header-deals:not(:last-child) {
		margin-bottom: 2.125rem;
	}

	.header-deals__btn {
		width: 100%;
	}
}

@media (max-width: 41.4375rem) {
	.tabs-deals__navigation {
		justify-content: center;
	}

	.tabs-deals__navigation:not(:last-child) {
		margin-bottom: 2.5625rem;
	}
}

@media (max-width: 38.75rem) {
	.tabs-deals__items {
		grid-template-columns: 1fr;
		justify-content: center;
	}
}

@media (max-width: 27.8125rem) {
	.tabs-deals__navigation {
		flex-direction: column;
	}

	.tabs-deals__title {
		align-self: center;
	}
}

.features {
	padding-top: clamp(2.5rem, 7.9545vw + 0.9091rem, 6.875rem);
	padding-bottom: clamp(2.5rem, 6.8182vw + 1.1364rem, 6.25rem);
}

.features__title {
	text-align: center;
}

.features__title:not(:last-child) {
	margin-bottom: clamp(2rem, 7.1591vw + 0.5682rem, 5.9375rem);
}

.features__body {
	padding: 2.4375rem 2.4375rem 5.125rem;
	background-color: #f1ffff;
	display: grid;
	grid-template-columns: minmax(auto, 30.75rem) minmax(auto, 25.75rem);
	grid-auto-rows: auto;
	align-items: center;
	gap: 3rem clamp(1.5rem, 37.8571vw + -23.5804rem, 4.8125rem);
}

.features__pictures {
	align-self: start;
}

.features__picture:first-child {
	width: 100%;
}

.features__img {
	object-fit: cover;
}

.features__picture:first-child .features__img {
	max-width: 100%;
}

.features__picture:last-child {
	margin-top: -6.6rem;
	width: 25.625rem;
	height: 17.375rem;
	aspect-ratio: 410 / 278;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 163px 80px 0px rgba(0, 0, 0, 0.04),
		0px 105.648px 46.852px 0px rgba(0, 0, 0, 0.03),
		0px 62.785px 25.481px 0px rgba(0, 0, 0, 0.02),
		0px 32.6px 13px 0px rgba(0, 0, 0, 0.02),
		0px 13.281px 6.519px 0px rgba(0, 0, 0, 0.02),
		0px 3.019px 3.148px 0px rgba(0, 0, 0, 0.01),
		48px 58px 44px 0px rgba(0, 0, 0, 0.09);
}

.features__picture:last-child .features__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.content-features__header:not(:last-child) {
	margin-bottom: 2.625rem;
}

.content-features__title {
	color: #000;
	font-size: 1.9375rem;
	font-weight: 600;
	line-height: calc(42 / 31 * 100%);
}

.content-features__title:not(:last-child) {
	margin-bottom: 1.75rem;
}

.content-features__text > p {
	color: #545a58;
	line-height: calc(24 / 16 * 100%);
}

.content-features__body {
	display: grid;
	grid-template-columns: repeat(3, minmax(auto, 110px));
	grid-auto-rows: auto;
	justify-content: space-between;
	gap: 2.3125rem 1rem;
}

.content-features__body:not(:last-child) {
	margin-bottom: 3.375rem;
}

.item-features__name {
	color: #000;
	font-weight: 700;
	font-size: 1.0625rem;
	line-height: calc(23 / 17 * 100%);
}

.item-features__name:not(:last-child) {
	margin-bottom: 0.75rem;
}

.item-features__value {
	color: #545a58;
	font-size: 1.0625rem;
	line-height: calc(23 / 17 * 100%);
}

.content-features__btn {
	min-height: 3.3125rem;
	padding: 0.3125rem;
	color: #fff;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: calc(26 / 18 * 100%);
	text-transform: uppercase;
	border-radius: 0.3125rem;
	background-color: #f85a47;
	box-shadow: 0px 100px 80px 0px rgba(248, 90, 71, 0.07),
		0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05),
		0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04),
		0px 20px 13px 0px rgba(248, 90, 71, 0.04),
		0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03),
		0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02);
}

.content-features__btn:active {
	background-color: #b9473a;
}

@media (hover: hover) {
	.content-features__btn {
		transition: background-color 0.3s ease 0s;
	}

	.content-features__btn:hover {
		background-color: #b9473a;
	}
}

@media (min-width: 64.375em) {
	.content-features {
		padding-top: 3.125rem;
	}

	.content-features__text {
		max-width: 21.5rem;
	}

	.content-features__btn {
		width: 100%;
	}
}

@media (max-width: 64.375em) {
	.features__body {
		grid-template-columns: 1fr;
	}

	.features__pictures {
		text-align: center;
		grid-row: 2;
	}

	.content-features {
		grid-row: 1;
	}

	.content-features__btn {
		padding: 0.3125rem 2.3125rem;
	}
}

@media (max-width: 43.75em) {
	.features__body {
		margin: 0 -1rem;
		padding: 2rem 1rem;
	}

	.content-features__btn {
		width: 100%;
	}
}

@media (max-width: 35em) {
	.features__picture:last-child {
		margin-top: -21.5%;
		width: 80%;
		height: auto;
	}
}

@media (max-width: 31.25em) {
	.content-features__header:not(:last-child) {
		margin-bottom: 1.6rem;
	}

	.content-features__body {
		gap: 1.2rem 1rem;
	}

	.content-features__body:not(:last-child) {
		margin-bottom: 2rem;
	}

	.item-features__name:not(:last-child) {
		margin-bottom: 0.3rem;
	}

	.content-features__btn {
		padding: 1rem;
	}
}

@media (max-width: 26.25em) {
	.content-features__body {
		grid-template-columns: repeat(2, 1fr);
	}

	.content-features__btn {
		font-size: 1rem;
	}
}

.reviews {
	padding-top: clamp(2.5rem, 6.8182vw + 1.1364rem, 6.25rem);
	padding-bottom: clamp(2.5rem, 16.4773vw + -0.7955rem, 11.5625rem);
}

.reviews__title {
	max-width: 35.625rem;
}

.reviews__title:not(:last-child) {
	margin-bottom: 3.125rem;
}

.reviews__body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: 2rem 1.875rem;
}

.reviews__body:not(:last-child) {
	margin-bottom: 5.25rem;
}

.item-reviews {
	display: flex;
	flex-direction: column;
	padding: 3.25rem 2.375rem;
	border-radius: 0.625rem;
	border: 1px solid #ebebeb;
}

.item-reviews__stars {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem 0.125rem;
}

.item-reviews__stars img[alt='star'] {
	width: 1.0906rem;
}

.item-reviews__stars:not(:last-child) {
	margin-bottom: 2.0625rem;
}

.item-reviews__text:not(:last-child) {
	margin-bottom: 3.3125rem;
}

.item-reviews__text > p {
	line-height: calc(28 / 16 * 100%);
}

.user-reviews {
	display: flex;
	align-items: center;
	gap: 1rem 1.25rem;
}

.user-reviews__img {
	flex: 0 1 3rem;
	border-radius: 50%;
	overflow: hidden;
}

.user-reviews__img img {
	max-width: 100%;
	object-fit: cover;
}

.user-reviews__name {
	line-height: calc(22 / 16 * 100%);
	font-weight: 700;
}

.user-reviews__place {
	color: #666;
	font-size: 0.875rem;
	line-height: calc(19 / 14 * 100%);
}

.partners-reviews {
	flex: 0 1 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem clamp(1.5rem, 6.3636vw + 0.2273rem, 5rem);
}

.info-reviews {
	flex: 0 1 22rem;
}

.info-reviews__text {
	line-height: calc(24 / 16 * 100%);
}

.info-reviews__text > a {
	display: inline;
}

.info-reviews__text > a:nth-child(2) {
	color: #2cbde7;
	text-decoration: underline;
}

@media (min-width: 61.875em) {
	.item-reviews {
		box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03),
			0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
			0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.02),
			0px 20px 13px 0px rgba(0, 0, 0, 0.01),
			0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
			0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.01),
			3px 44px 54px 0px rgba(0, 0, 0, 0.08);
	}
}

@media (min-width: 43.75em) {
	.item-reviews__text {
		flex: 1 1 auto;
	}
}

@media (min-width: 35em) {
	.reviews__footer {
		display: flex;
		align-items: center;
		column-gap: 1rem;
	}
}

@media (max-width: 61.875em) {
	.reviews__body {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 43.75em) {
	.reviews__body {
		grid-template-columns: 1fr;
	}

	.reviews__body:not(:last-child) {
		margin-bottom: 3rem;
	}

	.item-reviews {
		padding: 2.25rem 1.375rem;
	}

	.item-reviews__stars:not(:last-child) {
		margin-bottom: 1rem;
	}

	.item-reviews__text:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 35em) {
	.partners-reviews:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

.subscribe {
	padding: clamp(2.5rem, 13.6364vw + -0.2273rem, 10rem) 0rem;
	background-color: #fbfcfc;
}

.subscribe__header {
	text-align: center;
	font-weight: 700;
	color: #31353b;
}

.subscribe__header:not(:last-child) {
	margin-bottom: 2.125rem;
}

.subscribe__title {
	font-size: 2.8125rem;
	line-height: calc(65 / 45 * 100%);
	letter-spacing: 0.0563rem;
}

.subscribe__title:not(:last-child) {
	margin-bottom: 0.6875rem;
}

.subscribe__label {
	font-size: 1.4375rem;
	line-height: calc(33 / 23 * 100%);
	letter-spacing: 0.0288rem;
}

.form-subscribe {
	max-width: 42.875rem;
	min-height: 7.75rem;
	margin: 0 auto;
	padding: 1.625rem 1.875rem 1.625rem 2.8125rem;
	background-color: #fff;
	display: flex;
	align-items: center;
	box-shadow: 0px 163px 80px 0px rgba(0, 0, 0, 0.04),
		0px 105.648px 46.852px 0px rgba(0, 0, 0, 0.03),
		0px 62.785px 25.481px 0px rgba(0, 0, 0, 0.02),
		0px 32.6px 13px 0px rgba(0, 0, 0, 0.02),
		0px 13.281px 6.519px 0px rgba(0, 0, 0, 0.02),
		0px 3.019px 3.148px 0px rgba(0, 0, 0, 0.01);
}

.form-subscribe__inner {
	flex: 1 1 100%;
}

.form-subscribe__btn {
	align-self: flex-start;
	min-height: 4.5rem;
	padding: 0.0313rem 2.5rem;
	background: #f85a47;
	color: #fff;
	font-family: 'DM Sans';
	font-size: 1.125rem;
	font-weight: 500;
	line-height: calc(26 / 18 * 100%);
	letter-spacing: 0.0225rem;
	text-wrap: nowrap;
	box-shadow: 0px 100px 80px 0px rgba(248, 90, 71, 0.07),
		0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05),
		0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04),
		0px 20px 13px 0px rgba(248, 90, 71, 0.04),
		0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03),
		0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02);
}
